{% extends 'layout_en.html' %}
{% block content %}

<h1>Events</h1>

<h1>Past Events</h1>
<div class='content-section-search'>
        <h2>Complementary Mammograms</h2>
        <h4>Date: Saturday May 14th 2022</h4>
        <h4>Time: 7:30am - 12:00pm</h4>
        <h4>Address: 2929 E Fillmore St. Phoenix, AZ 85008</h4>
</div>
<div class='content-section-search'>
        <h2>CVS Project Health Event</h2>
        <h4>Date: Nov 29, 2022</h4>
        <h4>Time: 9:30am - 1:30pm</h4>
        <h4>Address: 17802 N 19th Ave, Phoenix, AZ 85023</h4>
</div>
<div class='content-section-search'>
        <h2>CVS Project Health Event</h2>
        <h4>Date: Nov 30, 2022</h4>
        <h4>Time: 9:30am - 1:30pm</h4>
        <h4>Address: 601 S Farmer Ave, Tempe, AZ 85281</h4>
</div>
<div class='content-section-search'>
        <h2>CVS Project Health Event</h2>
        <h4>Date: Dec 01, 2022</h4>
        <h4>Time: 9:30am - 1:30pm</h4>
        <h4>Address: 706 E Southern Ave, Phoenix, AZ 85040</h4>
</div>
<div class='content-section-search'>
        <h2>CVS Project Health Event</h2>
        <h4>Date: Dec 02, 2022</h4>
        <h4>Time: 9:30am - 1:30pm</h4>
        <h4>Address: 620 N 2nd Ave, Phoenix, AZ 85003</h4>
</div>
<div class='content-section-search'>
        <h2>CVS Project Health Event</h2>
        <h4>Date: Dec 05, 2022</h4>
        <h4>Time: 9:30am - 6:00pm</h4>
        <h4>Address: 675 N 16th St, Phoenix, AZ 85006</h4>
</div>
<div class='content-section-search'>
        <h2>CVS Project Health Event</h2>
        <h4>Date: Dec 06, 2022</h4>
        <h4>Time: 9:30am - 1:30pm</h4>
        <h4>Address: 830 W Tonto St, Phoenix, AZ 85007</h4>
</div>
<div class='content-section-search'>
        <h2>CVS Project Health Event</h2>
        <h4>Date: Dec 07, 2022</h4>
        <h4>Time: 9:30am - 1:30pm</h4>
        <h4>Address: 305 W Pima St, Phoenix, AZ 85003</h4>
</div>
<div class='content-section-search'>
        <h2>CVS Project Health Event</h2>
        <h4>Date: Dec 08, 2022</h4>
        <h4>Time: 9:30am - 1:30pm</h4>
        <h4>Address: 435 E Sunland Ave, Phoenix, AZ 85040</h4>
</div>
<div class='content-section-search'>
        <h2>CVS Project Health Event</h2>
        <h4>Date: Dec 09, 2022</h4>
        <h4>Time: 9:30am - 1:30pm</h4>
        <h4>Address: 2150 E Broadway Rd, Phoenix, AZ 85040</h4>
</div>
<div class='content-section-search'>
        <h2>CVS Project Health Event</h2>
        <h4>Date: Dec 09, 2022</h4>
        <h4>Time: 9:30am - 1:30pm</h4>
        <h4>Address: 435 E Sunland Ave, Phoenix, AZ 85040</h4>
</div>
<div class='content-section-search'>
        <h2>CVS Project Health Event</h2>
        <h4>Date: Dec 12, 2022</h4>
        <h4>Time: 9:30am - 1:30pm</h4>
        <h4>Address: 3333 E Van Buren St, Phoenix, AZ 85008</h4>
</div>
<div class='content-section-search'>
        <h2>CVS Project Health Event</h2>
        <h4>Date: Dec 13, 2022</h4>
        <h4>Time: 9:30am - 1:30pm</h4>
        <h4>Address: 4032 S 9th St, Phoenix, AZ 85040</h4>
</div>
<div class='content-section-search'>
        <h2>CVS Project Health Event</h2>
        <h4>Date: Dec 14, 2022</h4>
        <h4>Time: 9:30am - 1:30pm</h4>
        <h4>Address: 706 E Southern Ave, Phoenix, AZ 85040</h4>
</div>
<div class='content-section-search'>
        <h2>CVS Project Health Event</h2>
        <h4>Date: Dec 15, 2022</h4>
        <h4>Time: 9:30am - 1:30pm</h4>
        <h4>Address: N 69th Ave & Bethany Home Rd, Glendale, AZ 85303</h4>
</div>
<div class='content-section-search'>
        <h2>CVS Project Health Event</h2>
        <h4>Date: Dec 16, 2022</h4>
        <h4>Time: 9:30am - 1:30pm</h4>
        <h4>Address: 1050 W 8th Ave, Mesa, AZ 85210</h4>
</div>
{% endblock content %}
