{% extends 'layout_es.html' %}
{% block content %}
<h1>GoodRx</h1>
<div>
	<p>Link: <a target="_blank" rel="noopener" href=https://www.goodrx.com/t>Link</a></p>
</div>
<h1>CVS</h1>
<div>
	<p>Link: <a target="_blank" rel="noopener" href=https://www.cvs.com/content/prescription-savings>Link</a></p>
</div>
<h1>Cost Plus Drug Company</h1>
<div>
	<p>Link: <a target="_blank" rel="noopener" href=https://costplusdrugs.com/>Link</a></p>
</div>
<h1>DiRx</h1>
<div>
	<p>Link: <a target="_blank" rel="noopener" href=https://www.dirxhealth.com/homepage>Link</a></p>
</div>
<h1>Insider Rx</h1>
<div>
	<p>Link: <a target="_blank" rel="noopener" href=https://insiderx.com/>Link</a></p>
</div>
<h1>Script Save WellRx</h1>
<div>
	<p>Link: <a target="_blank" rel="noopener" href=https://www.wellrx.com/discount-pharmacy-prices/>Link</a></p>
</div>
<h1>Walmart Pharmacy</h1>
<div>
	<p>Link: <a target="_blank" rel="noopener" href=https://www.walmart.com/cp/4-prescriptions/1078664>Link</a></p>
</div>
{% endblock content %}

