{% extends 'layout_en.html' %}
{% block content %}
<h1>Adelante Healthcare</h1>
<img src=https://dy5f5j6i37p1a.cloudfront.net/company/logos/52538/300x145/10be283f6bea11ebbf6825f1bb2975ed.png alt="Adelante Healthcare">
<div>
	<p>Link for scheduling: <a target="_blank" rel="noopener" href=https://www.adelantehealthcare.com/schedule-appointment>Link</a></p>
</div>
<h1>CDC Symptom Checker</h1>
<div>
	<p>Link: <a target="_blank" rel="noopener" href=https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/coronavirus-self-checker.html>Link</a></p>
</div>
<h1>Covid Testing Centers</h1>
<div>
	<p>Link: <a target="_blank" rel="noopener" href=https://www.azdhs.gov/covid19/index.php#everyone-get-tested>Link</a></p>
</div>
<h1>Covid Vaccine Centers</h1>
<div>
	<p>Link: <a target="_blank" rel="noopener" href=https://www.vaccines.gov/search/>Link</a></p>
</div>
<h1>Flu Vaccine Centers</h1>
<div>
	<p>Link: <a target="_blank" rel="noopener" href=https://www.vaccines.gov/find-vaccines/>Link</a></p>
</div>
<h1>Mission of Mercy Arizona</h1>
<div>
	<p>Link: <a target="_blank" rel="noopener" href=https://www.amissionofmercy.org/arizona/clinic-schedule/>Link</a></p>
</div>
<h1>Wesley Community and Health Centers</h1>
<div>
	<p>Link: <a target="_blank" rel="noopener" href=https://mycw97.ecwcloud.com/portal13095/jsp/jspnew/preRegistration_new.jsp>Link</a></p>
</div>
<h1>Phoenix Allies for Community Health</h1>
<div>
	<p>Link: <a target="_blank" rel="noopener" href=https://azpach.org/clinic-info/>Link</a></p>
</div>
<h1>The Neighborhood Christian Clinic</h1>
<div>
	<p>Link: <a target="_blank" rel="noopener" href=https://thechristianclinic.org/services/>Link</a></p>
</div>
<h1>Mountain Park Health Center</h1>
<div>
	<p>Link: <a target="_blank" rel="noopener" href=https://mountainparkhealth.org>Link</a></p>
</div>
<h1>Neighborhood Outreach to Health</h1>
<div>
	<p>Link: <a target="_blank" rel="noopener" href=https://noahhelps.org/request-an-appointment/>Link</a></p>
</div>
<h1>St. Vincent De Paul Clinic</h1>
<div>
	<p>Link: <a target="_blank" rel="noopener" href=https://www.stvincentdepaul.net/programs/virginia-g-piper-medical-clinic/about-the-clinic>Link</a></p>
</div>
<h1>FSL Activate Program</h1>
<div>
	<p>Link: <a target="_blank" rel="noopener" href=https://www.fsl.org/activate>Link</a></p>
</div>
{% endblock content %}
