{% extends 'layout_es.html' %}
{% block content %}
<h1>Adelante Healthcare</h1>
<img src=https://dy5f5j6i37p1a.cloudfront.net/company/logos/52538/300x145/10be283f6bea11ebbf6825f1bb2975ed.png alt="Adelante Healthcare">
<div>
	<p>Enlace para planificacion: <a target="_blank" rel="noopener" href=https://www.adelantehealthcare.com/schedule-appointment>Enlace</a></p>
</div>
<h1>Verificador de sintomas de CDC</h1>
<div>
	<p>Enlace: <a target="_blank" rel="noopener" href=https://espanol.cdc.gov/coronavirus/2019-ncov/symptoms-testing/coronavirus-self-checker.html>Enlace</a></p>
</div>
<h1>Centros de Pruebas de Covid</h1>
<div>
	<p>Enlace: <a target="_blank" rel="noopener" href=https://www.azdhs.gov/covid19/es/index.php#everyone-get-tested>Enlace</a></p>
</div>
<h1>Centros de Vacunas Contra Covid</h1>
<div>
	<p>Enlace: <a target="_blank" rel="noopener" href=https://www.vacunas.gov/search/>Enlace</a></p>
</div>
<h1>Centros de Vacunas Contra Flu</h1>
<div>
	<p>Enlace: <a target="_blank" rel="noopener" href=https://www.vacunas.gov/find-vaccines/>Enlace</a></p>
</div>
<h1>Mission of Mercy Arizona</h1>
<div>
	<p>Enlace: <a target="_blank" rel="noopener" href=https://www.amissionofmercy.org/arizona/asistencia-medica-gratis/>Enlace</a></p>
</div>
<h1>Wesley Community and Health Centers</h1>
<div>
	<p>Enlace: <a target="_blank" rel="noopener" href=https://mycw97.ecwcloud.com/portal13095/jsp/jspnew/preRegistration_new.jsp>Enlace</a></p>
</div>
<h1>Phoenix Allies for Community Health</h1>
<div>
	<p>Enlace: <a target="_blank" rel="noopener" href=https://azpach.org/clinic-info/>Enlace</a></p>
</div>
<h1>The Neighborhood Christian Clinic</h1>
<div>
	<p>Enlace: <a target="_blank" rel="noopener" href=https://thechristianclinic.org/services/>Enlace</a></p>
</div>
<h1>Mountain Park Health Center</h1>
<div>
	<p>Enlace: <a target="_blank" rel="noopener" href=https://es.mountainparkhealth.org>Enalce</a></p>
</div>
<h1>Neighborhood Outreach to Health</h1>
<div>
	<p>Enlace: <a target="_blank" rel="noopener" href=https://noahhelps.org/request-an-appointment/>Enlace</a></p>
</div>
<h1>St. Vincent de Paul Clinica</h1>
<div>
	<p>Enlace: <a target="_blank" rel="noopener" href=https://www.stvincentdepaul.net/programs/virginia-g-piper-medical-clinic/about-the-clinic>Enlace</a></p>
</div>
<h1>Programa FSL Activate</h1>
<div>
	<p>Enlace: <a target="_blank" rel="noopener" href=https://www.fsl.org/activate>Enlace</a></p>
</div>
{% endblock content %}
